.mainContainer {
  display: flex;
  .contacdata {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex: 50%;
  }
  .textContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .headerContainer {
    position: relative;
    &:after {
      content: "";
      border-bottom: 1px solid grey;
      width: 140px;
      position: absolute;
      display: block;
      left: 50%;
      margin-left: -70px;
      padding-top: 10px;
    }
  }
  .emailFields {
    flex: 50%;
    width: 50%;
    text-align: center;
  }
  .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    input,
    textarea {
      width: 900px;
    }
    button {
      margin-top: 10px;
      cursor: pointer;
      padding: 9px 18px;
      font-size: 19px;
      color: #fff;
      background-color: #000;
      border: none;
    }
    @media screen and (max-width: 920px) {
      input,
      textarea {
        width: 300px;
      }
    }
  }
  .formInput {
    background-color: white;
    color: grey;
    font-size: 15px;
    padding: 10px 10px 10px 5px;
    display: block;

    border: none;
    border-radius: 0;
    border-bottom: 1px solid grey;
    margin: 25px 0;
    background: transparent;
    &:focus {
      outline: none;
    }
    @media screen and (max-width: 920px) {
      width: 10%;
    }
  }
  .textAreaContainer {
    width: 70%;
    height: 100px;
    padding: 12px 7px;
    display: block;
    border: 1px solid grey;
    border-radius: 3px;
    resize: none;
    background: transparent;
  }
  .buttonContainer {
    display: flex;
    justify-content: center;
    width: 70%;
    margin-top: 10px;
  }
}
