.contactMe {
  padding: 12px 13px;
  font-size: 19px;
  color: #fff;
  background-color: #000;
  transition: 0.6s;
  &:hover {
    color: white;
    transition: 0.6s;
    transform: scale(1.09);
  }
}
