.headerContainer {
  font-size: 20px;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 30px 0 20px 15px;
  @media screen and (max-width: 920px) {
    height: 60px;
    margin-bottom: 20px;
    justify-content: center;
    margin: 30px 0 20px 0;
    h3 {
      width: 70px;
      margin-top: 25px;
      font-weight: 600;
      @media screen and (max-width: 920px) {
        display: none;
      }
    }
  }
  .linksContainer {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media screen and (max-width: 920px) {
      width: 80%;
    }
  }
  a {
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: 0.2s;
    &:hover {
      transition: 0.2s;
      color: #16a6b6;
    }
    @media screen and (max-width: 920px) {
      text-align: center;
    }
  }
}
