.helloText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -20px;
}

.helloText .greetings {
  text-align: center;
  margin: 15vh;
  font-size: 60px;
}

.helloText .greetings span {
  color: grey;
}

.skillsAvatarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

@media screen and (max-width: 920px) {
  .skillsAvatarContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.skillsAvatarContainer ul {
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  font-size: 17px;
}

.skillsAvatarContainer ul li {
  padding: 3px 0 3px 0;
}

.skillsAvatarContainer .skills {
  max-width: 600px;
  margin-top: -100px;
  margin-left: 90px;
}

.skillsAvatarContainer .skills p {
  line-height: 26px;
}

@media screen and (max-width: 920px) {
  .skillsAvatarContainer .skills {
    margin-top: 40px;
    text-align: center;
    margin-left: 0px;
  }
}

.skillsAvatarContainer .helloMessage {
  width: 75%;
}

@media screen and (max-width: 920px) {
  .skillsAvatarContainer .helloMessage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
}

.skillsAvatarContainer .my_skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0 15px 0;
  font-size: 17px;
}

@media screen and (max-width: 920px) {
  .skillsAvatarContainer .my_skills {
    padding: 0;
  }
}

.skillsAvatarContainer p {
  text-align: center;
  font-size: 17px;
}

.skillsAvatarContainer img {
  width: 360px;
  height: 540px;
  margin: 0;
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 60px;
  font-weight: 600;
  margin-top: 40px;
}

.stats span {
  font-size: 17px;
}

.stats .stat {
  margin: 0 10px 0 0;
}

@media screen and (max-width: 920px) {
  .stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.toolsContainer p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toolsContainer hr {
  width: 42%;
}

.toolsContainer .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toolsContainer .tools img {
  opacity: 0.75;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  height: 180px;
  width: 160px;
  margin-top: 10px;
  -webkit-filter: drop-shadow(5px 5px 5px #222222);
  filter: drop-shadow(5px 5px 5px #222222);
}

@media screen and (max-width: 920px) {
  .toolsContainer .tools {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=aboutMe.module.css.map */